.cardWrapper {
	margin: 20px;
}

.imageWrapper {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	max-width: 260px;
	max-height: 260px;
}

.favourite {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.favourite img {
	width: 15px;
	padding: 15px;
}

.favourite:hover img {
	background: #e0e0e0;
}

.name {
	font-weight: bold;
}

.price {
	font-size: 20px;
	font-weight: bold;
}

.button {
	background-color: #fd8024;
	border: none;
	border-radius: 3px;
	width: 100%;
	padding: 15px;
	font-size: 18px;
	cursor: pointer;
}

.button:hover {
	background-color: #f97310;
}